#email-form, #reset-password-form {
    max-width: 600px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#email-form form, #reset-password-form form {
    border: 1px solid #000;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.password-field-input {
    position: relative;
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(105, 244, 181);
    cursor: pointer;
}