.navbar>.container {
    height: 50px;

}

.navbar {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
}

.navbar>.container a {
    text-decoration: none;
    color: rgb(181,183,184);
}

.navbar-collapse {
    background-color: rgb(43,48,53);
    border-radius: 5px;

}

.navbar-nav .isActive {
    background-color: blue;
    height: 100%;
    border-radius: 15px;
}

#user-icon {
    scale: 2;
    margin-right: 6px;
}