.navbar>.container {
    height: 50px;

}

.navbar>.container a {
    text-decoration: none;
    color: rgb(181,183,184);
}

.navbar-collapse {
    background-color: rgb(43,48,53);
    border-radius: 5px;

}

.navbar-nav .isActive {
    background-color: blue;
    height: 100%;
    border-radius: 15px;
}