.admin-page {
    background-color: rgb(218, 214, 214);
    min-height: 100vh;
}

.admin-page .sidebar {
    /* min-height: 100vh; */
    overflow-y: auto;
    /* width: 220px; */
    background-color: azure;
    padding-left: 0;
    padding-right: 0;
    position: fixed;
    top: 0;
    left: 0;
    /* transition: width 0.3s; */
}

#side-menu {
    list-style-type: none;
    padding-left: 0;
    text-transform: uppercase;
}

#side-menu .nav-header {
    padding: 20px 0;
}

#side-menu li {
    border-bottom: 2px solid rgba(40, 38, 38, 0.2);
}

#side-menu a {
    padding: 20px 0;
    display: block;
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#side-menu li:not(.nav-header):hover {
    background-color: antiquewhite;
    cursor: pointer;
}

.nav-header h2 {
    margin-left: 20px;
}

.dashboard-header {
    background-color: rgb(162, 239, 239);
    padding: 10px 5px;
    align-items: center;
    
}

.admin-page .notification-col button{
    background-color: transparent;
    border: none;
    color: black;
}

/* Orders page */

.hide {
    display: none;
}

#admin-page-wrapper {
    margin-left: 250px;
}

#admin-page-wrapper .content table {
    background-color: transparent;
}

#admin-page-wrapper .order-table tr td:last-child {
    display: flex;
}

.order-table .delete-button:hover,
.order-table .detail-button:hover {
    background-color: rgb(157, 157, 202);
    cursor: pointer;
}

/* @media (min-width: 768px) {
    #admin-page-wrapper {
        margin-left: 140px;
    }
} */



/* @media (max-width: 576px) {
    #admin-page-wrapper {
        margin-left: 70px;
    }
}

@media (min-width: 576px) {
    #admin-page-wrapper {
        margin-left: 110px;
    }
} */
/* order-admin-detail page */
.order-admin-detail {
    color: black;
}

/* Product table */
#admin-product-table #action {
    display: flex;
    justify-content: space-between;
    margin: 24px 20px;
}

#search-product5 {
    max-width: 400px;
    border: 1px solid #284066;
    color: #000;
}

#search-product5::placeholder {
    color: rgb(64, 73, 70);
}

#admin-product-table .detail-button,
#admin-product-table .delete-button {
    padding: 10px;
}

#admin-product-table .detail-button:hover,
#admin-product-table .delete-button:hover{
    background-color: rgb(157, 157, 202);
    cursor: pointer;
}

.table-action {
    display: flex;
    justify-content: space-around;
}