
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  background: linear-gradient(rgb(110, 111, 123), rgb(51, 49, 57));
  height: 100vh;  
} */

body {
  background: linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%);
}

.App {
  min-height: calc(100vh - 0px);
}